@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}

html, body {
  width: 100%; height: 100%;
  margin: 0;
  font-family: 'Jeju Gothic';
}

::placeholder, input {
  font-family: 'Jeju Gothic';
}

:root {
  --Point: #3D95E7;
  --Disabled: #8C99A6;
  --Text-big: 34px;
  --Text-normal: 28px;
  --Text-small: 22px;
}

input, h1, label {
  color: #333;
  font-size: var(--Text-normal);
}

label {
  font-size: var(--Text-small);
  color: var(--Disabled);
}

h1 {
  letter-spacing: -2px;
  font-weight: normal;
  font-size: var(--Text-big);
  margin: 0 0 32px 0;
}

input, button {
  border: none;
}

form {
  margin: auto;
  width: 95%;
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-sizing: border-box;
  top: 32px;
  position: relative;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  font-size: var(--Text-normal);
  padding: 8px;
  border-radius: 8px;
  transition: background-color .1s;
}
input[type="radio"]:checked + span {
  background-color: var(--Point);
  color: white;
}

input[type="text"] {
  border: 1px solid var(--Disabled);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 32px;
  margin-top: 4px;
}
input[type="text"]::placeholder {
  color: var(--Disabled);
  font-size: var(--Text-small);
}

button {
  background-color: var(--Point);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-size: var(--Text-normal);
  margin-top: 32px;
  transition: opacity .1s;
}
button:active {
  opacity: 0.6;
}
